<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
              <thead>
                   <tr>
                       <td>Nome </td>
                       <td>Descrição</td>
                       <td>Preço</td>
                       <td>Quantidade</td>
                   </tr> 
            </thead>
            <Tbody>
                <tr>
                    <td>Camiseta</td>
                    <td>Azul</td>
                    <td>39,90</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Luva</td>
                    <td>Para dias frios</td>
                    <td>29</td>
                    <td>5</td>
                </tr>
            </Tbody>
      
    </table>
</body>
</html>